/* .searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #3a5c70;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
} */

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: #2d2d2d;
  color: #fff;
  padding: 10px 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px 5px #60efff;
}

.form :is(input, button) {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}

.searchBtn {
  display: grid;
  place-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: color 0.25s;
}

.searchInput {
  width: 0;
  font-size: 14px;
  transition: width 0.5s;
}

.form:focus-within input {
  width: 200px;
}
::placeholder {
  font: inherit;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}